/* common */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #d5dee5;
}
.inner {
  width: 1200px;
  margin: 0 auto;
}
.section {
  position: relative;
}

/* fullpage navigation */
#fp-nav > ul > li {
  position: relative;
  text-align: right;
  margin-bottom: 1px;
} 
#fp-nav > ul > li > a {
  display: block;
} 
#fp-nav > ul > li > a > span {
  display: inline-block; /* 내용만큼 위치 확보하기 위해 */
  background-color: #09131b;
  color: #fff;
  padding: 5px 10px 5px 20px;
  font-size: 13px;
  transform: translateX(calc(100% - 20px)); /* 왼쪽에 20px 남기고 들어가게 */
  transition: transform .5s; /* 애니메이션 from부분(0%)에 transition줘야 잘들음 */
} 
#fp-nav > ul > li.active > a > span {
  transform: translateX(0); /* 초기값인 0 줘서 들어갔던 li 나오게 */
}

/* MAIN */
/* 메인 메뉴 */
#section0 .wrap_link {
  text-align: center;
  position: absolute;
  width: 100%; /* 안에 들은 글이 가운데 위치하게  */
  top: 50%;
  left: 0;
  margin-top: -195px;
}
#section0 .wrap_link > div {
  height: 130px;
  overflow: hidden; /* a태그 범위 영역 서로 침범하지 않게(위아래로) */
}
#section0 .wrap_link > div > a {
  color: #fff;
  opacity: .4; /* content 투명하게 > 글씨 투명하게 */
  font-weight: bold;
  font-size: 130px;
  line-height: 130px;
  /* border: 1px solid red; */
}
#section0 .wrap_link > div > a:hover {
  opacity: 1;
}
/* 메인 배경 */
#section0 .wrap_bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden; /* 혹시라도 다른 section의 영역 넘어가지 않게 */
}
#section0 .wrap_bg .bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url(../img/img_main_01.jpg) no-repeat center center;
  background-size: cover; /* 가로 세로 꽉채우게 > 비율 안깨지게끔 */
  opacity: 0; /* 안보였다가 나오게(fade-in > fade-out) */
  transform: scale(1); /* 확대되게 */
  transition: all .3s;
}
#section0 .wrap_bg .bg:nth-child(2) {
  background-image: url(../img/img_main_02.jpg);
}
#section0 .wrap_bg .bg:nth-child(3) {
  background-image: url(../img/img_main_03.jpg);
}
#section0 .wrap_bg.select_1 .bg:nth-child(1),
#section0 .wrap_bg.select_2 .bg:nth-child(2),
#section0 .wrap_bg.select_3 .bg:nth-child(3) {
  opacity: 1;
  transform: scale(1.1); 
}

/* 메인 오브젝트 */
#section0 .ico {
  /* display: block; */
  width: 200px;
  height: 200px;
  background: url(../img/ico_01.png) no-repeat center center;
  background-size: auto 100%; /* 세로 기준으로 꽉 채우게 */
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  transition: transform 1s ease-out;
}
#section0 .ico.ico_1 {
  margin: -310px 0 0 330px;
}
#section0 .ico.ico_2 {
  margin: 0 0 0 -890px;
  top: auto;
  bottom: -220px;
  background-image: url(../img/ico_02.png);
  width: 556px;
  height: 376px;
}

/* PROFILE */
#section1 .wrap_link {
  position: absolute;
  width: 100%;
  text-align: center;
  left: 0;
  top: 50%;
  height: 60px;
  margin-top: -30px;
}
#section1 .wrap_link > div {
  display: inline-block;
}
#section1 .wrap_link > div > a {
  font-size: 80px;
  font-weight: bold;
  vertical-align: middle; /* height가 더 높은 inline-block에 줘야  vertical-align: middle; 들음2 */
  display: inline-block;
}
#section1 .wrap_link > div > a:hover {
  color: #fff;
}
#section1 .wrap_link > div + div::before {
  content: '';
  display: inline-block;
  width: 80px;
  height: 5px;
  background-color: #000;
  /* vertical-align: middle; inline-block의 모든 요소들이 가운데 정렬되야  vertical-align: center; 들음 > 둘 다 주거나1 */
  margin: 0 20px;
}

/* profile 배경 */
#section1 .wrap_bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
#section1 .wrap_bg .bg {
  height: 100px;
}
#section1 .wrap_bg.select_1 .bg {
  background: url(../img/section1_txt_0.png) repeat-x left center;
  animation: ani-bg1 6s linear infinite;
}
@keyframes ani-bg1 {
  0% {background-position-x: 0;}
  100% {background-position-x: -690px;}
}
#section1 .wrap_bg.select_1 .bg.reverse {
  animation-name: ani-bg1-reverse;
}
@keyframes ani-bg1-reverse {
  0% {background-position-x: 0;}
  100% {background-position-x: 690px;}
}

#section1 .wrap_bg.select_2 .bg {
  background-image: url(../img/section1_txt_1.png);
  animation: ani-bg2 6s linear infinite;
}
@keyframes ani-bg2 {
  0% {background-position-x: 0;}
  100% {background-position-x: -634px;}
}
#section1 .wrap_bg.select_2 .bg.reverse {
  animation-name: ani-bg2-reverse;
}
@keyframes ani-bg2-reverse {
  0% {background-position-x: 0;}
  100% {background-position-x: 634px;}
}

#section1 .wrap_bg.select_3 .bg {
  background-image: url(../img/section1_txt_2.png);
  animation: ani-bg3 6s linear infinite;
}
@keyframes ani-bg3 {
  0% {background-position-x: 0;}
  100% {background-position-x: -783px;}
}
#section1 .wrap_bg.select_3 .bg.reverse {
  animation-name: ani-bg3-reverse;
}
@keyframes ani-bg3-reverse {
  0% {background-position-x: 0;}
  100% {background-position-x: 783px;}
}

/* skill */
#section2 .wrap_link {
  position: absolute;
  bottom: 50px;
  right: 150px;
  text-align: right;
}
#section2 .wrap_link > div > a {
  font-size: 80px;
  font-weight: bold;
  color: #2d3a42;
}
#section2 .wrap_link > div > a:hover {
  color: #fff;
}
#section2 .wrap_wave {
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  bottom: 0;
  /* background-color: #999; */
}
#section2 .wrap_wave .inner {
  width: 100%;
  height: 100%;
}
#section2 .wrap_wave .inner > .unit {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #98d3f3;
  transition: transform 1s ease-in-out;
  transform: translateY(100%);
}

#section2 .wrap_wave .wave::before,
#section2 .wrap_wave .wave::after { /* 파도치는 것처럼 보이게 > wave여러게 겹쳐서 */
  content: '';
  display: block;
  width: 4800px;
  height: 50px;
  position: absolute;
  top: -50px;
  left: 0;
  background: url(../img/bg_wave.png) 0 0;
  background-size: 2400px 50px;
  opacity: .1;
  animation: ani-wave1 5s linear infinite;
}
@keyframes ani-wave1 {
  /* 이미지 크기(width)와 잘 맞춰야 끊기지 않고 파도 치는 것처럼 보이게 됨 */
  0% {transform: translateX(-500px);}
  100% {transform: translateX(-2900px);}
}

#section2 .wrap_wave .wave::after { 
  animation: ani-wave2 7s linear infinite;
}
@keyframes ani-wave2 {
  0% {transform: translateX(0);}
  100% {transform: translateX(-2400px);}
}

#section2 .wrap_wave .num { /* 숫자 둥둥 떠있게 */
  font-size: 80px;
  color: #fff;
  opacity: .5;
  margin-left: 30px;
  animation: ani-num 3s infinite;
  display: inline-block;
}
@keyframes ani-num {
  0% {transform: translateY(0);}
  50% {transform: translateY(15px);}
  100% {transform: translateY(0);}
}
#section3 .slick-slide {
  padding: 0 20px;
}
#section3 .slick-slide img {
  width: 860px;
  height: 520px;
}
#section3 .wrap_txt {
  /* border: 1px solid red; */
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
  margin-top: 224px;
}
#section3 .wrap_txt > ul {
  height: 95px;
  overflow: hidden;
  position: relative;
}
#section3 .wrap_txt > ul > li {
  font-size: 86px;
  font-weight: bold;
  position: absolute;
  top: 95px;
  width: 100%;
  transition: top .5s;
}
#section3 .wrap_txt > ul > li.on {
  top: 0;
}
#section3 .wrap_photo {
  cursor: none;
}
#section3 .wrap_photo .cursor {
  display: block;
  width: 30px;
  height: 30px;
  background-color: #f00;
  border-radius: 100%;
  transform: scale(0);
  transition: transform .3s;
  position: absolute;
  pointer-events: none;
}
#section3 .wrap_photo:hover .cursor {
  transform: scale(1);
}
#section3 .wrap_photo:active .cursor {
  transform: scale(2);
}

/* contact */
#section4 .wrap_type {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -180px 0 0 -1150px;
}
#section4 .wrap_type .wrap_type_inner {
  position: relative;
}

#section4 .wrap_input {
  position: absolute;
  left: 50%;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #272d39;
}
#section4 .wrap_input > form {
  position: absolute;
  top: 50%;
  left: 0;
  margin: -80px 0 0 30px;
}
#section4 .wrap_input .group {
  position: relative;
  margin-bottom: 45px;
}
#section4 .wrap_input input {
  font-size: 18px;
  padding: 10px 0;
  display: block;
  width: 300px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #757575;
  color: #fff;
  outline: none;
}
#section4 .wrap_input label {
  color: #fff;
  font-size: 18px;
  position: absolute;
  left: 0;
  top: -20px;
}

#section4 .wrap_input .bar {
  position: relative;
  display: block;
  width: 300px;
}
#section4 .wrap_input .bar::before,
#section4 .wrap_input .bar::after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 0;
  position: absolute;
  background-color: #fff;
  transition: width 0.2s;
}
#section4 .wrap_input .bar::before {
  left: 50%;
}
#section4 .wrap_input .bar::after {
  right: 50%;
}
#section4 .wrap_input input:focus ~ .bar::before,
#section4 .wrap_input input:focus ~ .bar::after { 
  width: 50%;
}
#section4 .wrap_type_inner > span {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 600px;
  font-size: 200px;
}
#section4 .wrap_type_inner > span.ani0 {
  animation: key_ani1 1s linear forwards;
  motion-path: path("m680.49999,488c0,-8.27081 -100.44564,-343.23852 -306.76642,-328.76461c-206.32078,14.47391 -323.0549,181.95777 -323.73359,181.95777");
  offset-path: path("m680.49999,488c0,-8.27081 -100.44564,-343.23852 -306.76642,-328.76461c-206.32078,14.47391 -323.0549,181.95777 -323.73359,181.95777");
}
@keyframes key_ani0 {
  0% {
    /* left: 550px;  */
    offset-distance: 0%;
    opacity: 1;
  }
  100% {
    /* left: -110px;  */
    offset-distance: 100%;
    opacity: 0;
  }
}
#section4 .wrap_type_inner > span.ani1 {
  animation: key_ani1 1s linear forwards;
  motion-path: path("m568.5,256.453125c-41,-79 -138,-113 -270,-92c-132,21 -261,94 -280,129");
  offset-path: path("m568.5,256.453125c-41,-79 -138,-113 -270,-92c-132,21 -261,94 -280,129");
}
@keyframes key_ani1 {
  0% {
    offset-distance: 0%;
    opacity: 1;
  }
  100% {
    offset-distance: 100%;
    opacity: 0;
  }
}
#section4 .wrap_type_inner > span.ani2 {
  animation: key_ani2 .7s linear forwards;
  motion-path: path("m560.5,49.453125c-26,-42 -203,-70 -274,34c-71,104 -107,302 -107.5,301.546875");
  offset-path: path("m560.5,49.453125c-26,-42 -203,-70 -274,34c-71,104 -107,302 -107.5,301.546875");
}
@keyframes key_ani2 {
  0% {
    offset-distance: 0%;
    opacity: 1;
  }
  100% {
    offset-distance: 100%;
    opacity: 0;
  }
}
#section4 .wrap_type_inner > span.ani3 {
  animation: key_ani3 .5s linear forwards;
  motion-path: path("m559.5,353.453125c-28,-127 -100,-281 -221,-300c-121,-19 -274,206 -293,314");
  offset-path: path("m559.5,353.453125c-28,-127 -100,-281 -221,-300c-121,-19 -274,206 -293,314");
}
@keyframes key_ani3 {
  0% {
    offset-distance: 0%;
    opacity: 1;
  }
  100% {
    offset-distance: 100%;
    opacity: 0;
  }
}

/* 로딩 */
.wrap_img {
  overflow: hidden;
  width: 1px;
  height: 1px;
  opacity: 0;
}

.wrap_loading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; 
  z-index: 200;
  overflow: hidden;
  /* background: #000; */
}
.wrap_loading::before,
.wrap_loading::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 50%;
  left: 0;
  transition: transform .7s;
}
.wrap_loading::before {
  top: 0;
  background-image: linear-gradient(#f74be9, #a17aea);
}
.wrap_loading::after {
  top: 50%;
  background-image: linear-gradient(#a17aea, #08c3d7);
}
.wrap_loading > span {
  position: absolute;
  display: block;
  top: 50%;
  left: 0;
  height: 1px;
  width: 0;
  background: #fff;
  color: #fff;
  text-decoration-line: right;
  font-size: 40px;
  line-height: 50px;
  z-index: 2;
  transition: opacity .3s;
  text-align: right;
}
/* 완료 애니메이션 */
.wrap_loading.on::before {
  transform: translateY(-100%);
}
.wrap_loading.on::after {
  transform: translateY(100%);
}
.wrap_loading.on > span {
  opacity: 0;
}

/* 섹션별 인트로 효과 */
.section .ani_obj {
  opacity: 0;
  transform: translateY(30px);
  transition: all .5s;
}
.section.on .ani_obj {
  opacity: 1;
  transform: translateY(0);
}
.section.on .ani_obj.d1 {
  transition-delay: .3s;
}
.section.on .ani_obj.d2 {
  transition-delay: .6s;
}
.section.on .ani_obj.d3 {
  transition-delay: .9s;
}





