.header {}
.header h1 {  
    height: 110px;
    text-align: center;
}
.header h1 a {
    display: inline-block;
    margin-top: 22px;
}
.container {
    padding: 70px 0 40px;
}
.product .box_unit {
    width: 33.3%;
    float: left;
    height: 212px;
    text-align: center;
}
.product .box_unit > * {
    vertical-align: middle;
}
.product .box_unit > br { /* 480px이하에서만 활성화되게 */
    display: none;
}
.product .box_unit:nth-child(1) {
    background: #85D3E7;
}
.product .box_unit:nth-child(2) {
    background: #8FD2A6;
}
.product .box_unit:nth-child(3) {
    background: #7FCAC6;
}
.product .box_unit:nth-child(1) .img,
.product .box_unit:nth-child(2) .img {
    margin-top: -34px;
}
.product .box_unit:nth-child(3) .txt {
    margin-top: -34px;
}

@media all and (max-width: 1210px) {
    .product .box_unit {
        width: auto;
        float: none;
    }
    .product .box_unit .txt {
        margin-left: 50px;
    }
    .product .box_unit + .box_unit {
        margin-top: 40px;
    }
}

@media all and (max-width: 640px) {
    .product .box_unit .txt {
        margin-left: 0;
    }
}

@media all and (max-width: 480px) {
    .product .box_unit {
        height: auto;
    }
    .product .box_unit > br {
        display: inherit;
    }
    .product .box_unit .txt {
        margin: 30px 0;
    }
    .product .box_unit + .box_unit {
        margin-top: 70px;
    }
    .product .box_unit:nth-child(3) .img {
        transform: translateY(152px);
    }
    .product .box_unit:nth-child(3) .txt {
        transform: translateY(-200px);
    }
}